@font-face {
  font-family: "disclaimer";
  src: url("assets/Disclaimer-Plain.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: disclaimer, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  color-scheme: dark;
  --color: white;
  --color-glow: rgb(170, 170, 170);
  --color-spotify: #1db954;
  --color-soundcloud: #f37422;
  --color-instagram: #e4405f;
  --blend-mode: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  position: relative;
  padding: 2em;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.title {
  margin: 0;
  color: var(--color);
  font-size: 10em;
  width: fit-content;
  font-weight: 400;
  user-select: none;
  filter: drop-shadow(0 0 15px var(--color-glow));
  transition: color 1s ease-in-out;
  mix-blend-mode: var(--blend-mode);
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  flex-wrap: wrap;
}
