@font-face {
  font-family: "disclaimer";
  src: url("assets/Disclaimer-Plain.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: disclaimer, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --background-image: url("assets/background_dark.jpg");
  --color: white;
  --color-glow: rgb(170, 170, 170);
  --color-spotify: #1db954;
  --color-soundcloud: #f37422;
  --color-instagram: #e4405f;
  --blend-mode: none;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  transition: background-image 1s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10em;
}

main {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

.title {
  margin: 0;
  color: var(--color);
  font-size: 10em;
  width: fit-content;
  font-weight: 400;
  user-select: none;
  filter: drop-shadow(0 0 15px var(--color-glow));
  transition: color 1s ease-in-out;
  mix-blend-mode: var(--blend-mode);
}

.links {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("assets/background_dark2.jpg");
  }
}
