@font-face {
  font-family: "disclaimer";
  src: url("assets/Disclaimer-Plain.otf");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: disclaimer, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  color-scheme: light dark;
  --background-image: url("assets/background_dark.jpg");
  --color: white;
  --color-glow: rgb(170, 170, 170);
  --color-spotify: #1db954;
  --color-soundcloud: #f37422;
  --color-instagram: #e4405f;
  --blend-mode: none;
}

body {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
  transition: background-image 1s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10em;
}

main {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;
}

.title {
  margin: 0;
  color: var(--color);
  font-size: 10em;
  width: fit-content;
  font-weight: 400;
  user-select: none;
  filter: drop-shadow(0 0 15px var(--color-glow));
  transition: color 1s ease-in-out;
  mix-blend-mode: var(--blend-mode);
}

.iconButton {
  color: var(--color);
  cursor: pointer;
  opacity: 0.6;
  filter: drop-shadow(0 0 5px var(--color-glow));
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, filter 0.5s
    ease-in-out;
  mix-blend-mode: var(--blend-mode);
}

.iconButton:hover {
  filter: none;
  opacity: 1;
}

.iconButton.spotify:hover {
  color: var(--color-spotify);
  filter: none;
}

.iconButton.soundcloud:hover {
  color: var(--color-soundcloud);
  filter: none;
}

.iconButton.instagram:hover {
  color: var(--color-instagram);
  filter: none;
}

.links {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

[theme="light"] {
  --color: rgb(53, 53, 53);
  --color-glow: none;
  --blend-mode: color-burn;
  --background-image: url("assets/background_light.jpg");
}

@media (prefers-color-scheme: light) {
  .iconButton {
    filter: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("assets/background_dark2.jpg");
  }
}
