.iconButton {
  color: var(--color);
  cursor: pointer;
  opacity: 0.6;
  filter: drop-shadow(0 0 5px var(--color-glow));
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out, filter 0.5s
    ease-in-out;
  mix-blend-mode: var(--blend-mode);
}

.iconButton:hover {
  filter: none;
  opacity: 1;
}

.iconButton.spotify:hover {
  color: var(--color-spotify);
  filter: none;
}

.iconButton.soundcloud:hover {
  color: var(--color-soundcloud);
  filter: none;
}

.iconButton.instagram:hover {
  color: var(--color-instagram);
  filter: none;
}

.iconButton.tiktok:hover {
  color: white;
  filter: none;
}